{
  "env": {
    "browser": true,
    "qunit": true,
    "jquery": true,
    "node": false
  },
  "rules": {
    "no-eval": 0,
    "no-implied-eval": 0,
    "max-nested-callbacks": 0,
    "no-script-url": 0,
    "no-loop-func": 0,
    "no-redeclare": 0,
    "no-prototype-builtins": 0,
    "no-var": 0
  },
  "globals": {
    /* Utils */
    "async": true,

    /* For more details on global variables see custom-setup.js file */
    "callMethod": true,
    "getProperty": true,
    "setProperty": true,
    "processScript": true,
    "getLocation": true,
    "hammerhead": true,
    "processDomMeth": true,
    "initIframeTestHandler": true,
    "checkNativeFunctionArgs": true,
    "createTestIframe": true,
    "waitForMessage": true,
    "getCrossDomainPageUrl": true,
    "getSameDomainPageUrl": true,
    "removeDoubleQuotes": true
  }
}

