{
  "plugins": [
    "no-only-tests"
  ],
  "rules": {
    "no-unused-expressions": 0,
    "max-nested-callbacks": [2, 6],
    "no-only-tests/no-only-tests": 2,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-empty-function": 0
  }
}
