(function () {
    function initHammerheadClient(window, isIFrameWithoutSrc) {
        // NOTE: the following script will be executed in the current window context. But when you call a script in an iFrame
        // global vars are get from the top window. So, we should override the global vars that can have affect to our script.
        var document = window.document;
        var define = window.define;

        {{{source}}}
    }

    initHammerheadClient(window);
})();

{{{sourceMap}}}