var get = window.Hammerhead.get;

get('./settings').set({
    COOKIE                   : '{{{cookie}}}',
    SESSION_ID               : '{{{sessionId}}}',
    SERVICE_MSG_URL          : '{{{serviceMsgUrl}}}',
    IE9_FILE_READER_SHIM_URL : '{{{ie9FileReaderShimUrl}}}',
    CROSS_DOMAIN_PROXY_PORT  : '{{{crossDomainPort}}}',
    REFERER                  : '{{{referer}}}'
});

window.Hammerhead.init();

(function () {
    {{{payloadScript}}}
})();
