span {
    background: url('http://127.0.0.1:1836/sessionId/http://some.url') no-repeat -6px -52px;
    width: 18px;
    height: 14px;
    float: left;
    margin-top: 8px;
}

.content {
    margin: 0 auto;
    color: #ffffff;
    font-family: Helvetica, Tahoma, Geneva, sans-serif;
}

.copyright {
    padding-top: 26px;
    float: left;
}

.logo {
    padding-top: 36px;
    float: right;
}

select {
    background-color: #FAFAFA;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
}
