{
  "compact": false,
  "presets": [
    ["@babel/env", {
      "targets": { "node": "8" },
      "loose": true,
      "exclude": [
        "@babel/plugin-transform-regenerator"
      ]
    }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "babel-plugin-add-module-exports",
    "@babel/plugin-proposal-class-properties"
  ]
}
