{
  "compact": false,
  "presets": [
    ["env", {
      "targets": { "node": "6" },
      "loose": true,
      "exclude": [
        "transform-regenerator"
      ]
    }]
  ],
  "plugins": [
    "add-module-exports",
    "transform-async-to-generator"
  ]
}
