{
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "arrow-spacing": [2, { "before": true, "after": true }],
    "prefer-arrow-callback": 2,
    "no-var": 2,
    "no-restricted-properties": [ 2, {
      "object": "Object",
      "property": "defineProperty",
      "message": "Please use nativeMethods.objectDefineProperty"
      }
    ]
  },
  "plugins": [
    "babel",
    "hammerhead"
  ]
}
