{
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "arrow-spacing": [2, { "before": true, "after": true }],
    "prefer-arrow-callback": 2,
    "no-var": 2,
    "no-restricted-properties": [2,
      {
        "object": "childNodes",
        "property": "length",
        "message": "Please use the 'nodeListLengthGetter' from native methods instead."
      },
      {
        "object": "children",
        "property": "length",
        "message": "Please use the 'htmlCollectionLengthGetter' from native methods instead."
      },
      {
        "property": "childElementCount",
        "message": "Please use the 'elementChildElementCountGetter' from native methods instead."
      }
    ]
  },
  "plugins": [
    "hammerhead"
  ]
}
