{
  "compact": false,
  "presets": [
    ["@babel/env", {
      "loose": true,
      "exclude": [
        "@babel/plugin-transform-typeof-symbol"
      ]
    }]
  ],
  "plugins": [
    "babel-plugin-transform-for-of-as-array"
  ]
}
