{
  "extends": "plugin:hammerhead/recommended",
  "rules": {
    "hammerhead/proto-methods": 2,
    "no-restricted-globals": [2, "Promise"]
  },
  "globals": {
    "initHammerheadClient": true
  },
  "env": {
    "browser": true,
    "node": false
  }
}
