(function () {
    function initHammerheadClient(window, isIframeWithoutSrc) {
        // NOTE: The following script will be executed in the current window context. However, when you call a script
        // in an iframe, global variables are obtained from the top window. So, we need to override the global variables
        // which can affect our script.
        var document = window.document;

        {{{source}}}
    }

    initHammerheadClient(window);
})();

{{{sourceMap}}}
