window['%hammerhead%'].start({
    cookie                       : {{{cookie}}},
    sessionId                    : '{{{sessionId}}}',
    serviceMsgUrl                : '{{{serviceMsgUrl}}}',
    isFirstPageLoad              : {{{isFirstPageLoad}}},
    crossDomainProxyPort         : '{{{crossDomainPort}}}',
    referer                      : {{{referer}}},
    forceProxySrcForImage        : {{{forceProxySrcForImage}}},
    iframeTaskScriptTemplate     : {{{iframeTaskScriptTemplate}}}
}, window);

(function () {
    {{{payloadScript}}}
})();
