window['%hammerhead%'].start({
    cookie                       : {{{cookie}}},
    sessionId                    : '{{{sessionId}}}',
    serviceMsgUrl                : '{{{serviceMsgUrl}}}',
    isFirstPageLoad              : {{{isFirstPageLoad}}},
    ie9FileReaderShimUrl         : '{{{ie9FileReaderShimUrl}}}',
    crossDomainProxyPort         : '{{{crossDomainPort}}}',
    referer                      : '{{{referer}}}',
    iframeTaskScriptTemplate     : {{{iframeTaskScriptTemplate}}}
}, window);

(function () {
    {{{payloadScript}}}
})();
