window.Hammerhead.start({
    cookie                   : '{{{cookie}}}',
    sessionId                : '{{{sessionId}}}',
    serviceMsgUrl            : '{{{serviceMsgUrl}}}',
    ie9FileReaderShimUrl     : '{{{ie9FileReaderShimUrl}}}',
    crossDomainProxyPort     : '{{{crossDomainPort}}}',
    referer                  : '{{{referer}}}'
}, window);

(function () {
    {{{payloadScript}}}
})();
