name: Publishing

on:
  release:
    types: [published]

permissions:
  id-token: write  # Required for OIDC (Trusted Publishing)
  contents: read

jobs:
  publish:
    if: ${{ !github.event.release.draft }}
    runs-on: ubuntu-latest
    environment: npmjs
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.release.target_commitish }}
      - run: git fetch --force --tags
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'
      - run: npm install
      - run: npm run publish-please-only
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
