name: Test Functional (TestCafe)

on:
  workflow_dispatch:
    inputs:
      sha:
        description: 'The test commit SHA or ref'
        required: true
        default: 'master'
      merged_sha:
        description: 'The merge commit SHA'
      deploy_run_id:
        description: 'The ID of a deployment workspace run with artifacts'
      test-groups-count:
        required: false
        type: number
        default: 3
env:
  NO_CACHE: ${{ secrets.NO_CACHE }}

jobs:
  prepare-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: "${{ steps.generate-matrix.outputs.result }}"
    steps:
      - uses: actions/github-script@v6
        id: generate-matrix
        with:
          script: |
            return Array.from({length: ${{ github.event.inputs.test-groups-count }}}, (_, i) => i + 1)

  test:
    needs: prepare-matrix
    runs-on: ubuntu-latest
    environment: test-functional
    continue-on-error: true
    strategy:
      matrix:
        test-group: ${{ fromJSON(needs.prepare-matrix.outputs.matrix) }}
    env:
      RETRY_FAILED_TESTS: true
      TEST_GROUPS_COUNT: ${{ github.event.inputs.test-groups-count }}
      TEST_GROUP_NUMBER: ${{ matrix.test-group }}
    outputs:
      # Matrix jobs cannot collect outputs about each of them automatically. It rewrites the same outputs. Improve it once it will be possible.
      test-1: "${{ steps.save-result.outputs.test_1 }}"
      test-2: "${{ steps.save-result.outputs.test_2 }}"
      test-3: "${{ steps.save-result.outputs.test_3 }}"
    steps:
      - name: Show something
        run: echo "test_${{ matrix.test-group }}=${{ job.status }}"
      - uses: DevExpress/testcafe-build-system/actions/set-status@main
        with:
          status: 'pending'
      - uses: actions/checkout@v3
        with:
          ref: ${{github.event.inputs.merged_sha || github.event.inputs.sha}}

      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - uses: DevExpress/testcafe-build-system/actions/read-artifacts@main
        with:
          package-name: 'testcafe-hammerhead'

      - name: Get npm cache directory
        id: npm-cache-dir
        run: |
          echo "dir=$(npm config get cache)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        if: ${{ !env.NO_CACHE }}
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: npm ci
      - run: npx gulp test-functional-testcafe --no-build
        timeout-minutes: 60
      - name: Save result
        id: save-result
        if: always()
        run: echo "test_${{ matrix.test-group }}=${{ job.status }}" >> "$GITHUB_OUTPUT"
        
  get-result-status:
    if: ${{ !cancelled() }}
    needs: test
    runs-on: ubuntu-latest
    outputs:
      status: ${{ steps.status.outputs.result }}
    steps:
      - uses: actions/github-script@v6
        id: status
        with:
          result-encoding: string
          script: |
            const statuses = ${{ toJSON(needs.test.outputs.*) }};
            for (let i = 0; i < ${{ github.event.inputs.test-groups-count }}; i++) {
              if (statuses[i] !== 'success')
                return 'failure';
            }
            return 'success';

  set-result-status:
    if: always()
    needs: get-result-status
    runs-on: ubuntu-latest
    steps:
      - uses: DevExpress/testcafe-build-system/actions/set-status@main
        if: always()
        with:
          status: ${{ needs.get-result-status.outputs.status || 'failure' }}

      - name: Exit with error
        if: ${{ needs.get-result-status.outputs.status == 'failure' }}
        run: exit 1
